.apprendre {
    background-image: url('../img/backgrounds/apprendre.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 900px;
    opacity: 90%;
    border-radius: 5px;
}

.head {
    padding: 50px;
}

.map {
    float: left;
}

.infos {
    float: right;
    padding: 50px
}

.selects {
    float: right;
    width: 400px;
}

.footer {
    padding-top: 15px;
}