.accueil {
    background-image: url('../img/backgrounds/accueil.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
}

h1 {
    padding: 2%;
    font-size: 5em;
    color: white;
}

.buttons {
    margin-top: 15%;
    padding: 5px;
}

.footer {
    padding-top: 15px;
}