.accueil {
    background-image: url('https://w.forfun.com/fetch/ce/ce5ee0729b09c9e5a047828ae19201c6.jpeg');
    height: 900px;
}

h1 {
    padding: 2%;
    font-size: 5em;
    color: white;
}

.my-2 {
    margin-top: 50px;
}