<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/header.css}">
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img class="" width="140" height="90" th:src="@{/resources/static/img/logo.png}" alt="">
                <h2>GéoDevineur</h2>
            </a>
            <a href="quizz?waiting=true" class="navbar-brand d-flex align-items-center"><h4>Quizz</h4></a>
            <a href="apprendre" class="navbar-brand d-flex align-items-center"><h4>Apprendre</h4></a>
            <a href="regles" class="navbar-brand d-flex align-items-center"><h4>Règles</h4></a>
            <a href="scores" class="navbar-brand d-flex align-items-center"><h4>Meilleurs scores</h4></a>
        </div>
    </div>
</header>
<div class="container" style="width: 70%; background-color: grey; border-radius: 10px; margin-top: 3%;margin-bottom: 3%">
    <br><div class="question card-title align-items-center text-center">
            <h1 class="">Fonctionnement du site</h1>
    </div><br>

    <h2><strong>Quel est le but de ce site ?</strong></h2>
    <p>Apprendre la géographie française de façon ludique.</p><br>

    <h2><strong>Comment ça marche ?</strong></h2>
    <p>Il suffit d'apprendre via la page <a class="anchor-link" href="/apprendre">Apprendre</a>.</p>
    <p>Vous y retrouverez l'ensemble des départements, préfectures et régions détaillés.</p><br>

    <h2><strong>Je me sens prêt à faire un Quizz</strong></h2>
    <p>Très bien ! Il suffit d'en lancer un sur la page <a class="anchor-link" href="/quizz?waiting=true">Quizz</a>.</p><br>

    <h2><strong>Je n'ai rien compris au quizz</strong></h2>
    <p>Le but d'un Quizz et de trouver le département qui correspond à l'emsemble des questions posées.</p>
    <p>A chaque étape, une nouvelle question réduit le champ des possible pour finir sur un seul département.</p><br>

    <h2><strong>J'ai réussi je suis trop fort !</strong></h2>
    <p>Bravo, si tu as bien enregistré ton score tu le retrouveras sur la page <a class="anchor-link" href="/scores">Scores</a>.</p>
    <p>Tu peux supprimer tes scores en saisissant ton code confidentiel.</p><br>

    <h2><strong>Euh c'est quoi mon code confidentiel ?</strong></h2>
    <p>Quand tu réussis un Quizz, tu dois sasir ton pseudo et tu as la possibilité de définir un code, par défaut il n'y en a pas.</p>
    <p>Ce code te permet d'additionner tes scores si plus tard tu refais d'autres quizz, et de le supprimer.</p><br>
</div>


<footer class="text-muted border-top" style="padding-top: 15px">
    <div class="container text-center">
        <p>Site créé dans le cadre d'un projet JEE</p>
        <p><a href="https://github.com/TitouanPrl/GeoDevineur" class="nav-link">Github GéoDevineur</a></p>
    </div>
</footer>
</body>
</html>