<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/header.css}">
</head>
<body>
<header>

    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img class="" width="140" height="90" th:src="@{/resources/static/img/logo.png}" alt="">
                <h2>GéoDevineur</h2>
            </a>

            <div class="dropdown text-center align-items-center">
                <h4 class="d-flex align-items-center" style="color: white">Quizz</h4>
                <div class="dropdown-content d-quizz align-items-center text-center">
                    <a href="quizz-departements" class="navbar-brand">
                        <h5 class="d-flex align-items-center">Départements</h5>
                    </a>
                    <a href="quizz-regions" class="navbar-brand">
                        <h5 class="d-flex align-items-center">Régions</h5>
                    </a>
                </div>
            </div>
            <div class="dropdown text-center align-items-center">
                <h4 class="d-flex align-items-center" style="color: white">Apprendre</h4>
                <div class="dropdown-content d-apprendre align-items-center text-center">
                    <a href="apprendre-departements" class="navbar-brand">
                        <h5 class="d-flex align-items-center">Départements</h5>
                    </a>
                    <a href="apprendre-regions" class="navbar-brand">
                        <h5 class="d-flex align-items-center">Régions</h5>
                    </a>
                </div>
            </div>
            <a href="regles" class="navbar-brand d-flex align-items-center"><h4>Règles</h4></a>
            <a href="scores" class="navbar-brand d-flex align-items-center"><h4>Meilleurs scores</h4></a>
        </div>
    </div>
</header>

<div class="container">

    <p>Argumentation</p>
    <div class="card mb-4 box-shadow">
        <!-- bg-primary => bleu | bg-success => vert | bg-warning => rouge -->
        <div class="question card-title align-items-center bg-info text-center">
            <h1 class="">Règles d'un Quizz</h1>
        </div>
        <div class="card-body   align-items-center">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>


        </div>
    </div>
</div>
<div class="container">
    <p><strong>Quel est le but de ce site ?</strong></p>
    <p>Etre incolable sur les régions et les départements du beau pays qu'est la France</p>
    <p><strong>Quel est le but de ce site ?</strong></p>
    <p>Etre incolable sur les régions et les départements du beau pays qu'est la France</p>
    <p><strong>Quel est le but de ce site ?</strong></p>
    <p>Etre incolable sur les régions et les départements du beau pays qu'est la France</p>
</div>


<footer class="text-muted border-top" style="padding-top: 15px">
    <div class="container text-center">
        <p>Site créé dans le cadre d'un projet JEE</p>
        <p><a href="https://github.com/TitouanPrl/GeoDevineur" class="nav-link">Github GéoDevineur</a></p>
    </div>
</footer>
</body>
</html>