<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/scores.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/modal.css}">
</head>
<body onkeydown="checkKey(event)">
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img class="" width="140" height="90" th:src="@{/resources/static/img/logo.png}" alt="">
                <h2>GéoDevineur</h2>
            </a>
            <a href="quizz?waiting=true" class="navbar-brand d-flex align-items-center"><h4>Quizz</h4></a>
            <a href="apprendre" class="navbar-brand d-flex align-items-center"><h4>Apprendre</h4></a>
            <a href="regles" class="navbar-brand d-flex align-items-center"><h4>Règles</h4></a>
            <a href="scores" class="navbar-brand d-flex align-items-center"><h4>Meilleurs scores</h4></a>
        </div>
    </div>
</header>
<div class="modal" id="ScoreStatus">
    <div class="modal-content">
        <span class="close" id="closeModal" onclick="closeModal()">&times;</span>
        <h2 id="status"></h2>
        <form id="deleteForm" hidden="hidden" onsubmit="proceedForm()">
            <h3 id="titleDelete"></h3><br>
            <input type="text" id="password" placeholder="Code confidentiel">
            <input type="hidden" id="nameToDelete">
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    </div>
</div>
<div class="scores p-5">
    <div class="container align-items-center text-center">
        <div th:remove="tag" th:utext="${allScores}"></div>
    </div>
</div>
<footer class="text-muted border-top">
    <div class="container text-center">
        <p>Site créé dans le cadre d'un projet JEE</p>
        <p><a href="https://github.com/TitouanPrl/GeoDevineur" class="nav-link">Github GéoDevineur</a></p>
    </div>
</footer>
<script>

    //On redirige l'envoi du form vers le back
    function proceedForm() {
        const pseudo = document.getElementById("nameToDelete").textContent;
        const password = document.getElementById("password").value;
        window.location.assign("http://localhost:8080/scores?pseudo="+pseudo+"&password="+password);
        alert('done');
    }

    function deleteBtn(name){
        const modal = document.getElementById("ScoreStatus");
        modal.style.display = "block";
        document.getElementById("deleteForm").hidden = false;
        document.getElementById("status").hidden = true;
        document.getElementById("nameToDelete").textContent = name;
        document.getElementById("nameToDelete").hidden = true;
        document.getElementById("titleDelete").textContent = "Suppression du score de : " + name;
    }

    // Fonction pour vérifier si l'URL contient le status passé en parametre
    function paramCheck(param,value) {
        const params = new URLSearchParams(window.location.search);
        return params.get(param) === value;
    }

    // Fonction pour afficher le modal si l'URL contient "fin=true"
    function displayModal() {
        const modal = document.getElementById("ScoreStatus");
        const status = document.getElementById("status");
        if (paramCheck("status","added")) {
            modal.style.display = "block";
            status.textContent = "Score ajouté avec succès !";
        }
        if (paramCheck("status","edited")) {
            modal.style.display = "block";
            status.textContent = "Score modifié avec succès !";
        }
        if (paramCheck("status","error")) {
            modal.style.display = "block";
            status.textContent = "Mauvais mot de passe :/";
        }
        if (paramCheck("status","deleteSuccess")) {
            modal.style.display = "block";
            const name = document.getElementById("nameToDelete").textContent;
            status.textContent = "Le score de " + name + " a bien été supprimé";
        }
        if (paramCheck("status","deleteFailure")) {
            modal.style.display = "block";
            status.textContent = "Mauvais mot de passe, le score n'a pas été supprimé ://";
        }
    }

    // Fermer le modal lorsqu'on clique sur la croix OU appuie sur Echap
    function closeModal(){
        const modal = document.getElementById("ScoreStatus");
        cleanURL();
        modal.style.display = "none";
    }

    //Verification que la touche pressée est Echap
    function checkKey(event){
        let keynum;
        //Recuperation de la touche suivant les differents naviguateur
        if(window.event) keynum = event.keyCode;
        else if(event.which) keynum = event.which;
        if (keynum === 27) closeModal();
    }

    //Enleve tous les parametres de l'url
    function cleanURL(){
        window.history.replaceState({}, document.title, window.location.pathname);
    }

    // Appeler la fonction pour afficher le modal au chargement de la page
    displayModal();
</script>
</body>
</html>